# HTTP but will be converted to HTTPS by certbot later
server {
    server_name {{ ipt_domain }};
    listen 80 default_server;
    listen [::]:80 default_server;

    # reverse proxy to IPT
    location /ipt {
    	proxy_pass http://localhost:8080/ipt;
    }

    # redirect root to ipt (convenience)
    location / {
        return 301 https://{{ ipt_domain }}/ipt/;
    }
}
