#IPT configuration, last saved Tue Dec 21 09:22:18 UTC 2021
#Tue Dec 21 09:22:18 UTC 2021
analytics.key=
debug=false
archivalMode=true
proxy=
ipt.baseURL={{ ipt_base_url }}
analytics.gbif=false
defaultLocale=en
