<users>
  <user email="{{ user_email }}" firstname="{{ user_firstname }}" lastname="{{ user_lastname }}" role="Admin" lastLogin="2021-12-21 09:22:18.333 UTC">
    <password>{{ password_crypted }}</password>
  </user>
</users>
