network:
  version: 2
  renderer: networkd
  ethernets:
    ens160:
{% if dhcp %}
      dhcp4: yes
{% else %}
      dhcp4: no
      addresses:
        - {{ ip_address }}/21
      gateway4: {{ gateway }}
      nameservers:
        search:
          - hisnat.local # enables nameserver to resolve .local domains instead of mDNS
        addresses: {{ nameservers }}
{% endif %}
